<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<style th:include="/include/menu::css"></style>
<script>
	$(document).ready(function(){
		$("#updateBtn").click(function(){
			if($("#boardTitle").val() == ""){
				$("#title").text("제목을 입력해주세요")
				return;
			}else if($("#boardContent").val() == ""){
				$("#content").text("내용을 입력해주세요");
				return;
			}
			$("#updateForm").submit();
		});


	});
</script>
</head>
<body>
	<div th:include="/include/menu::sidemenu"></div>
	<div class="container">
		<h1 class="text-center">게시물 상세보기</h1>
		<!-- <div class="d-flex ">
			<a th:if="${boardNo} != ${min}" th:href="@{detailBoardList(boardNo=${pre})}" class="btn btn-primary mr-auto">이전</a>
			<a th:if="${boardNo} != ${next}" th:href="@{detailBoardList(boardNo=${next})}" class="btn btn-primary">다음</a>
		</div>-->
		<br>
		<form method="post" th:action="@{detailBoardList}" class="form-group" id="updateForm">
			<input type="hidden" th:value="${board.boardNo}" name="boardNo">
			<div>
				<span class="input-group-text">제목</span>
				<input type="text" class="form-control" th:value="${board.boardTitle}" name="boardTitle" id="boardTitle">
				<span id="title"></span>
			</div>
			<br>
			<div>
				<input type="text" class="form-control" th:value="${board.memberId}" name="memberId" readonly="readonly">
				<input type="text" class="form-control" th:value="${board.boardDate}" name="boardDate" readonly="readonly">
			</div>
			<br>
			<div>
				<span class="input-group-text">내용</span>
				<textarea th:text="${board.boardContent}" rows="5" cols="40" class="form-control" name="boardContent"></textarea>
				<span id="content"></span>
			</div>
		</form>
		<span id="txt" th:text="${txt}"></span>
		<div class="d-flex justify-content-between">
			<a th:href="@{getBoardList}" class="btn btn-primary">목록</a>
			<div th:if="${member.memberId} == ${board.memberId} OR ${member.memberLevel} == 1">
				<button type="button" id="updateBtn" class=" btn btn-primary">수정</button>
				<a th:href="@{deleteBoard(boardNo=${board.boardNo})}" class="btn btn-primary" id="removeBtn">삭제</a>
			</div>
		</div>
		<br>
		<form method="post" th:action="@{insertComment}" class="form-group">
			<input type="hidden" name="boardNo" th:value="${boardNo}">
			<div class="input-group mb-3">
				<textarea rows="5" cols="40" class="form-control" name="commentContent"></textarea>
				<div class="input-group-append">
					<button type="submit" class="btn btn-danger">댓글 입력</button>
				</div>
			</div>
		</form>
		<div>
			<table class="table table-striped">
				<tr>
					<td>작성자</td>
					<td>내용</td>
					<td>시간</td>
					<td>수정</td>
					<td>삭제</td>
				</tr>
				<tr th:each="c : ${list}">
					<td>
						<span th:if="${#strings.equals(#strings.substring(c.commentDate,0,10),day)}" class="badge badge-warning">new</span>
						<label th:text="${c.memberId}"></label>
					</td>
					<td th:text="${c.commentContent}"></td>
					<td th:text="${c.commentDate}"></td>
					<td><a th:href="@{updateComment(commentNo=${c.commentNo})}"
					 th:class="${member.memberId} == ${c.memberId} OR ${member.memberLevel} == 1  ? 'btn btn-primary' : 'btn btn-dark disabled'">수정</a></td>
					<td><a th:href="@{deleteComment(commentNo=${c.commentNo},boardNo=${c.boardNo})}" th:class="${member.memberId} == ${c.memberId} OR ${member.memberLevel} == 1 ? 'btn btn-danger' : 'btn btn-dark disabled'">삭제</a></td>
				</tr>
			</table>
			<div class="d-flex">
				<a th:if="${currentPage} != 1" th:href="@{detailBoardList(currentPage=${currentPage-1},boardNo=${boardNo})}" class="btn btn-primary mr-auto">이전</a>
				<a th:if="${currentPage} != ${lastPage}" th:href="@{detailBoardList(currentPage=${currentPage+1},boardNo=${boardNo})}" class="btn btn-primary">다음</a>
			</div>
		</div>
	</div>
</body>
</html>