<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<style th:include="/include/menu::css"></style>
</head>
<body>
	<div th:include="/include/menu::sidemenu"></div>
	<div class="container">
		<h1 th:text="${year}+'년 가계부'"></h1>
		
		<h2 th:text="${day}" class="text-center"></h2>
		<div>
			<a th:href="@{/getCashListByDate(day=${day.plusDays(-1)})}">이전</a>
			<a th:href="@{/getCashListByDate(day=${day.plusDays(+1)})}">다음</a>
		</div>
		<div></div>
		<table class="table table-striped">
			<tr>
				<td>카테고리</td>
				<td>수입</td>
				<td>지출</td>
				<td>장소</td>
				<td>메모</td>
				<td>수정</td>
				<td>삭제</td>
			</tr>
			<!-- thymleaf for문 사용 -->
			<tr th:each="list : ${cashList}">
				<td th:text="${list.categoryName}"></td>
				<!-- 수입일시 앞에 +  지출일시 앞에 -  -->
				<td th:if="${list.cashKind} == '수입'" th:text="${'+' + list.cashPrice}"></td>
				<td th:unless="${list.cashKind} == '수입'"></td>
				<td th:if="${list.cashKind} == '지출'" th:text="${'-' + list.cashPrice}"></td>
				<td th:unless="${list.cashKind} == '지출'"></td>
				<td th:text="${list.cashPlace}"></td>
				<td th:text="${list.cashMemo}"></td>
				<td><a th:href="@{/updateCash(cashNo=${list.cashNo})}">수정</a></td>
				<td><a th:href="@{/removeCash(cashNo=${list.cashNo})}">삭제</a></td>
			</tr>
		</table>
		<div>
			(수입+지출) 합계:<span th:text="${cashKindSum}"></span>
		</div>
		<div>
			<button type="button" class="btn btn-primary">입력</button>
		</div>
	</div>
</body>
</html>