<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<style th:include="/include/menu::css"></style>
</head>
<body>
	<div th:include="/include/menu::sidemenu"></div>
	<div class="container">
		<h1>회원 리스트</h1>
		<div class="d-flex ">
			<a th:if="${currentPage} != 1" th:href="@{getMemberList(currentPage=${currentPage-1})}" class="btn btn-primary mr-auto">이전</a>
			<a th:if="${currentPage} != ${lastPage}" th:href="@{getMemberList(currentPage=${currentPage+1})}" class="btn btn-primary">다음</a>
		</div>
		<br>
		<table class="table table-bordered table-striped">
			<tr>
				<th>아이디</th>
				<th>이름</th>
				<th>핸드폰 번호</th>
				<th>주소</th>
				<th>이메일</th>
				<th>삭제</th>
			</tr>
			<tr th:each="m : ${list}">
				<td th:text="${m.memberId}"></td>
				<td th:text="${m.memberName}"></td>
				<td th:text="${m.memberPhone}"></td>
				<td th:text="${m.memberAddr}"></td>
				<td th:text="${m.memberEmail}"></td>
				<td><a th:href="@{deleteMemberByAdmin(memberId=${m.memberId})}">삭제</a></td>
			</tr>
		</table>
		<div class="d-flex">
				<a th:if="${currentPage} != 1" th:href="@{getMemberList(currentPage=${currentPage-1}}" class="btn btn-primary mr-auto">이전</a>
				<a th:if="${currentPage} != ${lastPage}" th:href="@{getMemberList(currentPage=${currentPage+1}}" class="btn btn-primary">다음</a>
			</div>
	</div>
</body>
</html>