<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>
	$(document).ready(function(){
		$("#btn").click(function(){
			if($("#memberId").val() === ""){
				alert("아이디를 입력하세요");
				return;
			}else if($("#memberPw").val() === ""){
				alert("비밀번호를 입력하세요");
				return;
			}
			$("#loginForm").submit()
		});
	});
</script>
</head>
<body>
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<div style="padding: 200px;">
				<h1 class="text-center">로그인</h1>
				<div class="d-flex justify-content-center">
					<form method="post" action="/login" id="loginForm">
						<div class="form-group">
							<label class="font-weight-bold">ID :</label>
							<input type="text" class="form-control-lg d-flex justify-content-center" name="memberId" id="memberId">
						</div>
						<div class="form-group">
							<label class="font-weight-bold">Password :</label>
							<input type="password" class="form-control-lg d-flex justify-content-center" name="memberPw" id="memberPw">
						</div>
						<div>
							<span th:text="${msg}"></span>
						</div>
						<div class="d-flex justify-content-center">
							<a href="/searchMemberId" class="btn btn-primary">아이디 찾기</a>
							<!-- 이름 ,메일, 전화번호 -->
							<a href="/searchMemberPw" class="btn btn-primary">비밀번호 찾기</a> 
						</div>
						<br>
						<button type="button" id="btn" class="btn btn-outline-primary font-weight-bold" style="margin-left:80px;">로그인</button>
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-3"></div>
	</div>
</body>
</html>