<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>
let help = function(){
	$("#idHelper").text("");
	$("#emailHelper").text("");
	$("#msg").text("");
};
$(document).ready(function(){
	$("#btn").click(function(){
		if($("#memberId").val() == ""){
			help();
			$("#idHelper").text("id를 입력해주세요")
			return;
		}else if($("#memberEmail").val() == ""){
			help();
			$("#emailHelper").text("email을 입력해주세요")
			return;
		}
		$("#searchPwForm").submit();	
	});
});
</script>
</head>
<body>
	<div class="container">
		<h1 class="text-center">비밀번호 찾기</h1>
		<!-- 비밀번호 찾기 초기 폼 -->
		<form id="searchPwForm" method="post" th:action="@{/searchMemberPw}">
			<div class="input-group mb-3">
				<span class="input-group-text">아이디 :</span>
				<input id="memberId" type="text" name="memberId" class="form-control-md">
				<span id="idHelper"></span>
			</div>
			
			<div class="input-group mb-3">
				<span class="input-group-text">메일 :</span>
				<input id="memberEmail" type="text" name="memberEmail" class="form-control-md">
				<span id="emailHelper"></span>
			</div>
			<button id="btn" type="button">비밀번호 찾기</button>
			<span id="msg" th:text="${msg}"></span>
		</form>
	</div>
</body>
</html>