<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.cashbook1.mapper.BoardMapper">
	<!-- 회원 탈퇴시 게시글 삭제 -->
	<delete id="deleteBoardById" parameterType="String">
		DELETE FROM
			board
		WHERE 
			member_id=#{memberId}
	</delete>	
	<!-- 이전 열넘버를 구하기 -->
	<select id="preNumberSelect" resultType="int" parameterType="int">
		 SELECT IFNULL(t.boardNo, #{boardNo})
      FROM(
         SELECT  board_no,
         LAG(board_no) OVER (ORDER BY board_no) AS boardNo
          FROM    board
          ORDER BY board_no
      ) t
      WHERE board_no = #{boardNo}
	</select>
	<!-- 다음 열넘버를 구하기 -->
	<select id="nextNumberSelect" resultType="int" parameterType="int">
		 SELECT IFNULL(t.boardNo, #{boardNo})
      FROM(
         SELECT  board_no,
         LEAD(board_no) OVER (ORDER BY board_no) AS boardNo
          FROM    board
          ORDER BY board_no
      ) t
      WHERE board_no = #{boardNo}
	</select>
	<!-- 게시판 상세보기 board_no 최솟값 구하기 -->
	<select id="minBoardOne" resultType="int">
		SELECT
			MIN(board_no)
		FROM 
			board
	</select>
	<!--  게시판 글 토탈수(검색) -->
	<select id="totalBoardByTitle" resultType="int" parameterType="String">
		SELECT 
			COUNT(*)
		FROM 
			board
		WHERE
			board_title = #{boardTitle}
	</select>
	<!-- 게시판 글 토탈수 -->
	<select id="totalBoard" resultType="int">
		SELECT 
			COUNT(*)
		FROM 
			board
	</select>
	<!-- 게시판 리스트 -->
	<select id="selectBoard" resultType="com.gdu.cashbook1.vo.Board" parameterType="java.util.Map">
		SELECT 
			board_no AS boardNo,
			board_title AS boardTitle,
			board_content AS boardContent,
			board_date AS boardDate,
			member_id AS memberId
		FROM 
			board
		WHERE
			board_title LIKE CONCAT('%',#{boardTitle},'%')
		ORDER BY 
			board_no DESC
		LIMIT 
			#{beginRow} , #{rowPerPage}
	</select>
	<!-- 게시판 상세보기 -->
	<select id="selectBoardOne" resultType="com.gdu.cashbook1.vo.Board" parameterType="int">
		SELECT 
			board_no AS boardNo,
			board_title AS boardTitle,
			board_content AS boardContent,
			board_date AS boardDate,
			member_id AS memberId
		FROM 
			board
		WHERE
			board_no = #{boardNo}
	</select>
	<!-- 게시판 글 추가 -->
	<insert id="insertBoard" parameterType="com.gdu.cashbook1.vo.Board">
		INSERT INTO 
			board(member_id, board_title, board_content, board_date)
		VALUE 
			(#{memberId}, #{boardTitle}, #{boardContent}, NOW());
	</insert>
	<!-- 게시판 수정 -->
	<update id="updateBoard" parameterType="com.gdu.cashbook1.vo.Board">
		UPDATE 
			board 
		SET
			board_title = #{boardTitle},
			board_content = #{boardContent}
		WHERE
			board_no = #{boardNo}
	</update>
	<!-- 게시판 삭제 -->
	<delete id="deleteBoard" parameterType="int">
		DELETE FROM
			board
		WHERE 
			board_no=#{boardNo}
	</delete>
</mapper>