<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdu.cashbook1.mapper.CashMapper">
	<!-- 회원 탈퇴시 가계부 삭제 -->
	<delete id="deleteCashById" parameterType="String">
		DELETE FROM
			cash
		WHERE
			member_id=#{memberId}
	</delete>
	<!-- 회원 탈퇴시카테고리 삭제 -->
	<delete id="deleteCategoryById" parameterType="String">
		DELETE FROM
			category
		WHERE
			member_id=#{memberId}
	</delete>
	<!-- 카테고리 추가 -->
	<insert id="insertCategory" parameterType="com.gdu.cashbook1.vo.Category">
		INSERT INTO
			category(
				category_name,
				member_id
			)VALUES(
				#{categoryName},
				#{memberId}
			)
	</insert>
	<!-- 가계부 입력(select) 폼 category  -->
	<select id="selectCategory" resultType="com.gdu.cashbook1.vo.Category" parameterType="String">
		SELECT category_name as categoryName
		FROM category
		WHERE member_id= #{memberId}
	</select>
	<!-- 가계부 입력(insert) -->
	<insert id="insertCash" parameterType="com.gdu.cashbook1.vo.Cash">
		INSERT INTO 
			cash(
				member_id ,
				cash_date ,
				cash_kind ,
				category_name,
				cash_price,
				cash_place,
				cash_memo
			)
			VALUE(
				#{memberId},
				#{cashDate},
				#{cashKind},
				#{categoryName},
				#{cashPrice},
				#{cashPlace},
				#{cashMemo}
			)
	</insert>
	<!-- cashUpdate 폼 선택값 불러오기 -->
	<select id="selectCashOne" parameterType="int" resultType="com.gdu.cashbook1.vo.Cash">
		SELECT
			cash_no as cashNo,
			category_name as categoryName,
			cash_kind as cashKind,
			cash_price as cashPrice,
			cash_place cashPlace,
			cash_memo as cashMemo
		FROM
			cash
		WHERE
			cash_no = #{cashNo}
	</select>
	<!-- cashUpdate 액션 -->
	<update id="updateCash" parameterType="com.gdu.cashbook1.vo.Cash">
		UPDATE 
			cash 
		SET
			 category_name = #{categoryName},
			 cash_kind = #{cashKind},
			 cash_price = #{cashPrice},
			 cash_place = #{cashPlace},
			 cash_memo = #{cashMemo}
		WHERE 
			cash_no = #{cashNo}
	</update>
	<!-- 캘린더 날짜에 맞는 값 계산후 select-->
	<select id="selectDayAndPriceList" parameterType="java.util.Map" resultType="com.gdu.cashbook1.vo.DayAndPrice">
		SELECT DAY(cash_date) AS day, 
			   SUM(CASE WHEN cash_kind = '수입' THEN cash_price
			   	   		WHEN cash_kind = '지출' THEN -cash_price END) as price
		FROM cash
		WHERE member_id = #{memberId} 
		AND YEAR(cash_date) = #{year}
		AND MONTH(cash_Date) = #{month}
		GROUP BY DAY(cash_date)
	</select>
	<!-- 날에 맞는 총수입/지출 합계-->
	<select id="selectCashKindSum" resultType="int" parameterType="com.gdu.cashbook1.vo.Cash">
		SELECT
         (SELECT IFNULL(SUM(cash_price) ,'0')
          FROM cash
          WHERE member_id = #{memberId} 
          AND   cash_kind = '수입'
          AND   cash_date = #{cashDate})
         -
         (SELECT IFNULL(SUM(cash_price) ,'0') 
          FROM cash
          WHERE member_id = #{memberId}
          AND   cash_kind = '지출'
          AND   cash_date = #{cashDate})
      FROM dual
	</select>
	<!-- 오늘 날짜 cash 리스트 -->
	<select id="selectCashListByToday" resultType="com.gdu.cashbook1.vo.Cash" parameterType="com.gdu.cashbook1.vo.Cash">
		SELECT
			cash_no as cashNo,
			cash_kind as cashKind,
			category_name as categoryName,
			cash_price as cashPrice,
			cash_place as cashPlace,
			cash_memo as cashMemo
		FROM
			cash
		WHERE
			member_id = #{memberId}
		AND
			cash_date = #{cashDate}
		ORDER BY
			cash_no ASC
	</select>
	<!-- cash delete -->
	<delete id="removeCash" parameterType="int">
		DELETE FROM 
			cash
		WHERE
			cash_no=#{cashNo}
	</delete>
</mapper>